nav {
	font-size: 1.2em;
	font-weight: bold;
}

.menu1:hover>.dropdown-menu {
  display: block;
}

.dropdown-menu {
	font-size: 0.8em;
}

.nav-header1 {
	width: 100%;
	height: 100px;
}

.nav-header2 {
	background-color: #F85353!important;
	height: 70px!important;
}
